<div *ngIf="!entro else siLogin">
    <app-splash-screen></app-splash-screen>
    <!-- <app-login></app-login> -->
    <router-outlet></router-outlet>
</div>
<ng-template #siLogin>
    <div *ngIf="tipo =='Cajero' || tipo =='Admin'; else noEsEmpleado">
        <div class="Pruebacont">
            <app-splash-screen></app-splash-screen>
            <app-sidebar></app-sidebar>
            <div class="cuerpo">
                <!-- <app-home></app-home> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <ng-template #noEsEmpleado>
        <app-splash-screen></app-splash-screen>
        <!-- <app-login></app-login> -->
        <router-outlet></router-outlet>
    </ng-template>
</ng-template>
