<div id="sidemenu" class="menu-collapsed">
    <!--HEADER-->
    <div id="header">
        <div id="title"><span>CREMERIA "Liz"</span></div>
        <div id="menu-btn">
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
        </div>
    </div>
    <!-- Profile -->
    <div id="profile">
        <div id="photo"><p class="letra">{{ letra }}</p></div>
        <div id="name"><span>{{empleado.nombre}} {{empleado.apellidos}}</span></div>
        <div id="puesto"><span>{{empleado.tipo}}</span></div>
    </div>
    <!-- ITEMS -->
    <div id="menu-items">
        <div class="item">
            <a routerLink="Home">
                <div class="icon"><img src="../assets/img/carrito-de-compras.png" alt=""></div>
                <div class="title"><span>Punto de venta</span></div>
            </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
            <a routerLink="Controles">
                <div class="icon"><img src="../assets/img/control-remoto.png" alt=""></div>
                <div class="title"><span>Controles</span></div>
            </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
            <a routerLink="Perfil">
                <div class="icon"><img src="../assets/img/perfil.png" alt=""></div>
                <div class="title"><span>Perfil</span></div>
            </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
            <a (click)="logout()">
                <div class="icon"><img src="../assets/img/salida.png" alt=""></div>
                <div class="title"><span>Cerrar sesión</span></div>
            </a>
        </div>
        <div class="item separator"></div>
        <div id="profile">
            <div id="photo"><img src="../assets/img/LogoCreme.png" alt=""></div>
        </div>
    </div>
    
</div>