<div class="container" (mousemove)="vertempe()">
    <div class="row justify-content-center align-self-center">
        <div class="card" ng-repeat="temperatura in temperaturas">
            <h1 id="temperature" class="display-1 p-4">{{temperaturas}}°</h1>
        </div>
    </div>
    <h1 class="text-center">Luces cremeria</h1>
    <div class="input-group-prepend row justify-content-center">

        <a class="enlaceboton" href="http://192.168.0.17/H" target="ventana_iframe">Encender Luz</a>
        <a class="enlaceboton1" href="http://192.168.0.17/L" target="ventana_iframe">Apagar Luz</a>

        <iframe src="http://192.168.0.17" marginwidth="0" marginheight="0" name="ventana_iframe" scrolling="no" border="0" frameborder="0" width="0" height="0">
    </iframe>
    </div>
    <br>
    <br>
    <img class="mx-auto d-block" style="width:20%" src="../assets/img/LogoCreme.png" alt="">
</div>