<div class="container">
  <div class="row justify-content-center align-self-center">
    <div class="card" ng-repeat="temperatura in temperaturas">
      <h1 id="temperature" class="display-1 p-4">{{temperaturas}}°</h1>

      <button (click)="vertempe()">Consultar temperatura</button>

      <div class="input-group-prepend row justify-content-center">
        <a class="enlaceboton" href="http://192.168.0.17/H" target="ventana_iframe">Encender Luz</a>
      <a class="enlaceboton1" href="http://192.168.0.17/L" target="ventana_iframe">Apagar Luz</a>

      <iframe src="http://192.168.0.17" marginwidth="0" marginheight="0" name="ventana_iframe" scrolling="no" border="0"
        frameborder="0" width="0" height="0">
      </iframe>
      </div>

      
      <!-- <div class="input-group-prepend row justify-content-center h-600">
      <input type ='button' value = 'Encender luces' onclick="window.open('http://192.168.0.17/H', 'width=800,height=600');"/>
      <input type ='button' value = 'Apagar luces' onclick="window.open('http://192.168.0.17/L', 'width=800,height=600');"/>
      </div> -->



    </div>


  </div>